.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  padding-top: 4rem;
}

.container .container__image {
  display: flex;
  flex-grow: 1;
  flex-basis: 200;

  justify-content: center;

  @media (max-width: 960px) {
    display: none;
  }

}

.container .container__image img {
  width: 30vw;

}

.animate__animated.animate__pulse {
  --animate-duration: 1s;
}

.container .container__title-area {
  display: flex;
  flex-grow: 1;
  flex-basis: 200;

  width: 27rem;
  margin-right: 6rem;

  flex-direction: column;
  justify-content: center;

  gap: 1rem;

  @media (max-width: 768px) {
    margin: 0px;
  }
}

.container .container__title-area .title {
  font-size: 2.5rem;
  font-weight: 700;

  background: rgb(183,13,213);
  background: linear-gradient(175deg, rgba(183,13,213,1) 0%, rgba(110,8,161,1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.container .container__title-area .title:hover {
  filter: brightness(1.9);
  cursor: pointer;
}

.container .container__title-area .subtitle {
  color: var(--text-color);

  padding: 0 1rem;

  border-left: 1px solid var(--text-color-hover);

  font-size: .980rem;

}


