<div class="header">
  <img src="" alt="">
  <h1 class="header__title"> <!-- <img class="header__hand" src="../../../assets/hand.svg" alt="waving hand"> -->
    👩‍💻 I’am Aninha Pardini

  </h1>
  <p>This is local where I save my evolutions, notes, and projects in progammation.</p>

  <div class="header__arrow">
    <button type="button" (click)="moveToBottom()">
      <span
        class="material-symbols-outlined  animate__animated animate__bounce animate__infinite animate__delay 1s animate__slower	2s">
        arrow_drop_down
      </span>
    </button>
  </div>
</div>
