.header {
  padding: 4rem 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;

  @media (max-width: 855px) {
    padding: 4rem 7vw;
    height: 80vh;
  }
}

.header h1 {
  font-weight: 700;
  margin-bottom: .2rem;

  @media (min-width: 768px) {
    font-size: 5vw;
  }

  transition: all .2s ease-in-out;
}

.header h1:hover {
  transform: scale(1.05);
  text-shadow: .1rem .1rem 2rem var(--text-color-secondary);

  cursor: pointer;
}

.header h1 > img {
  height: 5vw;
  width: 5vw;

  @media (max-width: 768px) {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  color: var(--text-color-secondary);
  @media (min-width: 768px) {
    font-size: 1.5rem;

  }
}

.header__arrow {
  position: relative;
  top: 40%;

}

.header__arrow button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

