<div class="header">

  <div class="header__border__profile">
    <img class="header__profile" src="https://avatars.githubusercontent.com/u/108814319?v=4" alt="Ana Luiza">
  </div>
  <h1 class="header__title"> <!-- <img class="header__hand" src="../../../assets/hand.svg" alt="waving hand"> -->
    <span>Hello, I'm Ana Pardini,</span><br> fullstack developer and PO/PM.

  </h1>
  <p> \This is local where I save my evolutions, notes, and projects in progammation./ </p>
  <app-nav-bar></app-nav-bar>
  <div class="header__arrow">
    <button type="button" (click)="moveToBottom()">
      <span
        class="material-symbols-outlined  animate__animated animate__bounce animate__infinite animate__delay 2s animate__slower	1s">
        arrow_drop_down
      </span>
    </button>
  </div>
</div>
