.header {
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;

  @media (max-width: 855px) {
    padding: 4rem 7vw;
  }
}

.header .header__border__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 16rem;
  height: 16rem;

  border-radius: 100%;

  margin-bottom: 2rem;

  background: -webkit-linear-gradient(360deg,
      rgba(141, 9, 164, 1) 12%,
      rgb(100, 23, 138) 45%);

  @media (max-width: 768px) {
    width: 10.5rem;
    height: 10.5rem;
    margin-bottom: 2rem;
  }


}

.header .header__profile {

  width: 15rem;

  border-radius: 100%;

  -webkit-box-shadow: 21px 31px 92px -32px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 21px 31px 92px -32px rgba(0, 0, 0, 0.62);
  box-shadow: 21px 31px 92px -32px rgba(0, 0, 0, 0.62);

  transition: all .2s ease-in-out;

  @media (max-width: 768px) {
    width: 10rem;

  }


}

.header .header__profile:hover {
  filter: brightness(1.1);

  transform: scale(1.05);

}

.header h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: .2rem;
  font-size: 3vw;

  @media (max-width: 768px) {
    font-size: 6vw;
  }

  transition: all .2s ease-in-out;
}

.header h1 span {
  font-weight: 700;
  padding: .4rem;
  background: rgb(183,13,213);
  background: linear-gradient(175deg, rgba(183,13,213,1) 0%, rgba(110,8,161,1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

}

.header h1:hover {

  filter: brightness(2);
  cursor: pointer;
}


.header h1 > img {
  height: 5vw;
  width: 5vw;

  @media (max-width: 768px) {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  padding: 0 3rem;

  text-align: center;

  color: var(--text-color-secondary);
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0;
  }
}

app-nav-bar {
  width: 100%;
}

.header__arrow {
  position: relative;
  top: 20%;

  @media (max-width: 768px) {
    top: 20%;

  }
}

.header__arrow button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

