:host { /* aplicando style direto no componente */
  width: 100%;
}

.article {
  display: flex;
  align-content: center;
  justify-content: space-between;

  margin: .5rem 1rem .5rem 2rem;
  padding: 1rem;
  border-radius: 20px;


  background-color: var(--background-card);

  @media (max-width: 768px) {
    background: linear-gradient(90deg, rgba(42, 32, 53, 1) 66%, rgba(42, 32, 53, 0) 98%);
    display: flex;
  }

  transition: all .1s ease-in-out;
}

.article:hover {
  background-color: var(--background-hover);
  transform: scale(1.01);
}

.article__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.article__date-and-read-time {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  font-weight: lighter;

  gap: .5rem;

  font-size: .890rem;
  color: var(--text-color-secondary);

}

.article__title a {
  text-decoration: none;
  color: var(--text-color);

  font-size: 1.2rem;
}

.article__title a:hover {
  color: var(--text-color-hover);
}

.article__text {
  font-size: .980rem;
  font-weight: lighter;
  color: var(--text-color-secondary);
}

.article__image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12vw;
  height: 8vw;
  border-radius: 20px;

  background-color: var(--background-image);



  @media (max-width: 768px) {
      position: relative;

    }
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 20px 13px 35px 0px rgba(0, 0, 0, 0.1);
}
