<div class="article">
  <div class="article__content">
    <div class="article__header">
      <div class="article__date-and-read-time">
        <p class="article__date">{{ date|date:'EEE, dd MMM - h:ss a' }}</p>
        ·
        <p class="article__readMinutes">{{ readMinutes }} read</p>
      </div>
      <h2 class="article__title"><a href="#">{{ title }}</a></h2>
    </div>
    <div class="article__content">
      <p class="article__text">{{ description }}</p>
    </div>
  </div>
  <div class="article__image">
    <img [src]="banner" alt="banner" class="banner">
  </div>
</div>
