.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 4rem;

  margin-top: 1rem;
 /*  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2); */
  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

/* .menu__burguer {
  display: flex;

  @media (min-width: 768px) {
      display: none;
    }
}

.burguer {
  width: 2.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;


}

.burguer:hover svg {
  fill: var(--text-color-hover);
}
 */
.menu__horizontal {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  @media (max-width: 768px) {

  }
}

.menu__horizontal .menu__navbar {
  display: flex;
  gap: 3rem;

  position: relative;
  @media (max-width: 768px) {
    gap: 2vw;
  }
}

.menu__horizontal .menu__navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.menu__horizontal .menu__navbar a:hover {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.menu__horizontal .menu__navbar li {
  text-decoration: none;
  text-align: center;
  list-style: none;
  cursor: pointer;

  font-size: 1.3dvw;

  padding: .3dvw 1dvw;
  border-radius: 2rem;

  background-color: #ffffff1a;
  border: white .1rem solid;

  transition: all 0.2s ease-in-out;

  /* @media (min-width: 736px) and (max-width: 936px) {
    font-size: 2vw;
    padding: .6rem;
  } */

  @media (max-width: 736px) {
    font-size: 1rem;
    padding: .3rem .6rem;
  }

}


.menu__horizontal .menu__navbar li:hover {
  color: var(--text-color-hover);
  background-color: transparent;
  border: var(--text-color-hover) .1rem solid;
}


.social {
  width: 10rem;
  position: absolute;
  right: 1rem;
}

/* .menu__vertical {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  width: 0;
  height: 0;

  background-color: rgba(0, 0, 0, 0.615);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 4;

  transition: width 0.5s ease-in-out;
}

.active {
  display: flex;

  width: 100%;
  height: 100vh;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  position: absolute;
  top: 0;
  left: 2%;

  background-color: transparent;
  border: none;
  cursor: pointer;

  z-index: 5;

}

.material-symbols-outlined {

  font-size: 3rem;
  color: var(--text-color);

}

.menu__vertical a {
  text-decoration: none;
  color: var(--text-color);
}

.menu__vertical a:hover {
  color: var(--text-color-secondary);
}

.menu__vertical li {
  text-decoration: none;

  list-style: none;
  cursor: pointer;

  font-size: 1.5rem;

  transition: all 0.2s ease-in-out;
}
 */
