.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
 /*  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2); */
  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.menu__burguer {
  display: flex;

  @media (min-width: 768px) {
      display: none;
    }
}

.burguer {
  width: 2.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;


}

.burguer:hover svg {
  fill: var(--text-color-hover);
}

.menu__horizontal {
  display: flex;
  justify-content: center;
  align-items: center;


  gap: 1rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.menu__horizontal .menu__navbar {
  display: flex;
  gap: 8rem;

  position: relative;

}

.menu__horizontal .menu__navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.menu__horizontal .menu__navbar a:hover {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.menu__horizontal .menu__navbar li {
  text-decoration: none;

  list-style: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.menu__horizontal .menu__navbar li:hover {
  transform: scale(1.05) ;

}

.menu__horizontal .menu__navbar li:hover .item__subitem {
  display: block;

}

#item {
  font-size: 1.5rem;
}

#item:hover {
  color: var(--color-hover);

}

.item__subitem {
  position: absolute;
  top: 1.8rem;

  display: none;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  width: 6rem;
  height: 5rem;

  background-color: var(--background-card);
  background: linear-gradient(180deg, transparent 0%, var(--background-card) 100%);


  border-radius: 0.5rem;

  list-style: none;
  cursor: pointer;
}

.item__subitem li {
  font-size: .9rem;
}

.menu__horizontal div ul li {


  color: var(--text-color);

}

.menu__horizontal div ul:hover li {
  display: block;
}


.social {
  width: 10rem;
  position: absolute;
  right: 1rem;
}
