<div class="main">
  <app-header-portifolio
    setor="product-manager"
    title="Product Manager e Product Owner"
    image="../../../assets/images/product-manager-portifolio/productmanager-image.svg"
    subtitle="Tive a oportunidade de me tornar PO no início deste ano graças a empresa que estou atualmente, a Warlocks Tech e me empenhei a estudar para conseguir entender e me tornar uma boa profissional e auxiliar minha equipe da melhor forma!">
  </app-header-portifolio>
  <div class="main__experiences">
    <app-experiences setor="product-manager"></app-experiences>
  </div>
</div>
