.container {
  padding: 1rem 0 2rem 0;

  margin-top: 2rem;
}

.container__experiences {
  display: flex;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
  }
}

.experiences__container {
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
  }
}

.experiences__experience {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: fit-content;

  padding: 1.5rem;

  background: rgba(141, 9, 164, 0.099);
  border-radius: 1.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(42, 32, 53, 0.75);

  gap: 1.5rem;

  margin-bottom: 1rem;

  @media (max-width: 768px) {
    width: 100%;

    gap: 1rem;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.experiences__experience:last-child {
  margin-bottom: 0;
}

.experience__image a img {
  width: 5rem;

  object-fit: cover;

  border: 2px solid rgba(109, 90, 131, 0.75);

  border-radius: 50%;

  @media (max-width: 768px) {
    width: 4rem;
  }
}

.experience__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  gap: 1rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.header__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--text-color-hover);

  padding: .5rem 1rem;
  border-radius: 1rem;


}

.experience__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  width: 100%;

  gap: .5rem;
}

.header__type {
  font-size: .780rem;
  font-weight: 500;
}

.experience__descriptions p {
  font-size: .900rem;
  color: var(--text-color);
}
