.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: 1rem;

  padding: 2rem;

  width: 100%;
  height: 100vh;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.main__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  width: 100%;

}

.main__countAllPosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: .5rem;

  font-weight: 600;

  margin: 0 2rem;
}

.main__repository {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0 1.5rem;
}

.main__repository-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--text-color);

  margin: 0 .5rem;
}

.main__repository-link:hover {
  color: var(--text-color-hover);
}

.main__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.main__articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
}

.main__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  border-left: 1px solid #cccccc17;

  padding: 3rem;

  width: 100%;
}
