.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 1rem;

  margin-top: 3rem;

  padding: 3rem 2rem;

  width: 100%;
  height: 100vh;

  @media (max-width: 768px) {
    padding: 3rem 0;
    margin-top: 4rem;
  }
}

.main__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  width: 100%;

}

.main__countAllPosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: .5rem;

  font-weight: 600;

  margin: 0 2rem;
}

.main__repository {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 0 1.5rem;
}

.main__repository-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--text-color);

  margin: 0 .5rem;
}

.main__repository-link:hover {
  color: var(--text-color-hover);
}

.main__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  gap: 2rem;

  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.main__articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
}

.main__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* border-left: 1px solid #cccccc17; */

  padding: 0 2rem;

  width: 100%;

}

.main__sidebar hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #cccccc17;
  margin-bottom: 1rem;
}

.main__sidebar-title {
  font-weight: 600;
  font-size: 1.5rem;

  color: var(--text-color);
 /*  background: linear-gradient(90deg, rgba(42, 32, 53, 1) 31%, rgba(67, 34, 103, 0.34637605042016806) 87%); */

  padding: 1rem 2rem;
  border-radius: 30px;
}

.sidebar__spotify {
  width: 100%;

  margin-bottom: 1rem;
}
