.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 1rem;

  margin-top: 3rem;

  padding: 3rem 2rem;

  width: 100%;


  @media (max-width: 768px) {
    padding: 3rem 0;
    margin-top: 4rem;
  }
}

.main__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  width: 100%;

  @media (max-width: 768px) {
    padding: 0 1rem 0 1rem;
  }
}

.main__countAllPosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: .5rem;

  font-weight: 600;

  margin: 0 2rem;
}

.main__repository {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.main__repository-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--text-color);

}

.main__repository-link:hover {
  color: var(--text-color-hover);
}


.main__content {
  display: flex;
  flex-wrap: wrap;

  gap: 2rem;

  width: 100%;


  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

app-article-cards {

  opacity: 1;
  transition: all 600ms ease-in-out;
}

app-my-library {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.current-item {
  opacity: 1;
}

.main__container {
  position: relative;
  width: 100%;
  padding: 1rem 0 0 1rem;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.container__articles__wrapper {
  overflow-x: auto;
  overflow: hidden;

  margin: 0 1.5rem 0 1.5rem;
}

.main__articles {
  display: flex;
  flex-grow: 1;

  align-items: flex-start;
  justify-content: flex-start;

  gap: 1rem;

}

.arrow-left,
.arrow-right {
  position: absolute;

  top: 0;
  left: 0;
  right: auto;
  bottom: 0;

  border-radius: 20px 0 0 20px;

  font-size: 20px;
  line-height: 250px;

  width: 40px;

  color: #fff;

  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;

  cursor: pointer;
  border: none;

  z-index: 1;

  transition: all 600ms ease-in-out;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;

  border-radius: 0;

  text-align: right;

  background: linear-gradient(to right, transparent 0%, black 200%);
}

.main__sidebar {
  display: flex;

  flex-grow: 1;
  flex-basis: 200;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* border-left: 1px solid #cccccc17; */

}

.sidebar__spotify {
  width: 100%;

  margin-bottom: 1rem;
}
