<div class="main">
  <app-header-portifolio
    setor="design"
    title="Graphic Designer and UI/UX"
    image="../../../assets/images/design-portifolio/design-image.svg"
    subtitle="Trabalho como designer a mais de 3 anos, comecei com mídias sociais usando canvas e photoshop, e agora utilizo do illustrator e figma e estou aprendendo UX/UI para construir aplicações e sites.">
  </app-header-portifolio>
  <div class="main__experiences">
    <app-experiences setor="design"></app-experiences>
  </div>
</div>

