/* You can add global styles to this file, and also import other style files */
:root {
  --background-card: #2A2035;
  --background-hover: #3a2b49;
  --background-image: #362b42;
  --color-purple: #6e2c86;
  --text-color: #D0D0D0;
  --text-color-secondary: #8d749c;
  --text-color-hover: rgba(141, 9, 164, 1);
  --background-color: linear-gradient(120deg, rgba(39, 2, 45, 1) 12%, rgba(0, 0, 0, 1) 45%);
  font-family: 'Montserrat', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-feature-settings: "lnum";
  --webkit-user-drag: none;
}

body {
  background: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: var(--text-color);


}



